body {
  background: var(--bg-body-loged);
}


@media screen and (min-width: 576px) {
  .menu {
    top: 0;
    height: 100px;
  }

  .menu__content {
    justify-content: end;
    margin-left: 60px;
    margin-right: 60px;
  } 
}