:root {
  --bg-login-main: #3aaaff;
  --bg-login-light: #90e5ff;
  --bg-body-loged: #e7eff6;
  --bg-feed-description: rgba(183, 181, 190, 0.7);
  --bg-button-grey: #6497b1;
  --text-title-white: #ffffff;
  --text-title-grey: #2a4d69;
  --text-title-black: #000000;
}

* {
  font-family: "Roboto", sans-serif;
}

.container-fluid,
.col-reset {
  padding: 0;
}
