html {
  overflow: hidden;
}

.modal-post {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  transition: .5s;
  top: 0;
  right: -100%;
  overflow: hidden;
  transform: translateX(-100%);
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 20px;
  min-height: 600px;
  background-color: #f1f1f1;
  border-radius: 20px;
  margin: 20px;
  transition: .3s;
  transform: scale(1) translateX(0%);

}

.closed {
  position: absolute;
  right: 30px;
  cursor: pointer;
}

.closed img {
  width: 20px;
  height: 20px;
}

.title {
  display: flex;
}

.header__profile {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 5px;
}

.image__profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.image__profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.line-detail {
  width: 100%;
  height: 5px;
  background-color: black;
  margin-bottom: 0.5rem;
}

.name__profile {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.875rem;

  color: #000000;
}

.box__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  border-radius: 7px 7px 0 0;
}

.image__upload {
  border: 10px solid #fff;
  width: 70%;
  height: 100%;

}

.content__post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  background: #ffffff;
  border-radius: 7px;
  padding: 10px 0;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 10px 0 10px;

}

.content__post,
.counter {
  width: 100%;
  color: #acacac;
}

.form_post {
  display: flex;
  justify-content: center;
}

.form_post form {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 2px;
}

textarea {
  width: 100%;
  display: block;
  border: none;
  resize: none;
  font-size: 18px;
}

textarea:focus {
  outline: none;
}

.btn-post {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: #6497b1;
  border-radius: 30px;
  padding: 15px 0;
  width: 200px;
  margin: 0 auto;
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.count__comment img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .modal__content {
    width: 80%;
  }

  .closed {
    right: 20px;
    top: 12px;
  }

}

@media screen and (min-width: 768px) {
  .modal__content {
    width: 50%;
  }

  .closed {
    right: 20px;
    top: 5px;
  }

  .title {
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #acacac;
    padding-top: 20px;
    padding-bottom: 15px;
    position: relative;
  }

  .title__name {
    margin-bottom: 0;
    font-size: 1.6rem;
  }

  .header__profile {
    justify-content: left;
    align-items: flex-start;
  }

  .image__upload {
    width: 50%;
    height: 250px;
  }

  .btn-post {
    width: 300px;
  }
}